<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <script defer src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script defer src="js/script.js"></script>
    <title>eShop</title>
</head>

<body>
    <div id="app">
        <header>
            <div class="search-block">
                <input v-model="searchLine" type="text" class="goods-search" @keypress.enter="FilterGoods" />
            <button v-on:click="FilterGoods" class="search-button" type="button">Искать</button>
            </div>
                <button @click="isVisibleCart" class="cart-button" type="button">Корзина</button>
                <div class="cart" v-for="good in goods">
                    <div class="cart-item">
                        <h3>{{ good.product_name }}</h3>
                        <p>{{ good.price }}</p>
                    </div>
                </div>
        </header>
        <main>
            <div class="goods-list">
                <div class="goods-item" v-for="good in goods">
                    <h3>{{ good.product_name }}</h3>
                    <p>{{ good.price }}</p>
                </div>
            </div>
        </main>
    </div>

</body>

</html>